uvicorn==0.27.1
fastapi==0.110.0
dynaconf==3.2.6
jinja2==3.1.4
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.9
psycopg2-binary==2.9.9
pymongo==4.6.1
pydantic==2.8.2
streamlit==1.31.1
llama-index==0.12.29
llama-index-cli==0.4.1
llama-index-embeddings-openai-like==0.1.0
llama-index-llms-openai-like==0.3.4
llama-index-vector-stores-milvus==0.4.0
loguru==0.7.2
pydantic[email]==2.8.2
motor==3.5.1
PyJWT==2.8.0
PyMuPDF==1.25.5
